ul{
    list-style-type: none;
}
ul.api-list {
    padding-left: 9% !important;
}
.dropdown {
    margin-bottom: 10px;
    margin-top: 10px;
}
.dropdown select#shippingMode {
    padding: 6px 10px;
    margin-right: 6px;
}
.dropdown button.btn.btn-primary {
    background-color: transparent;
    color: #000;
    border-radius: 0;
    margin-bottom: 10px;
    width: auto;
    box-shadow: none;
    margin: 10px 0 12px 0;
}
input#save-btn {
    width: 80px;
    padding:6px 5px !important;
}
.alert-text.alert.alert-danger p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }
.apps-custom {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0 30px 0;
    border-radius:2px;
}
.apps-custom ul {
    margin: 0;
    padding: 0;
}
.apps-custom h5 {
    font-size: 14px;
    font-weight: 600;
}
.page_login input {
    width: 100%;
    margin-bottom: 10px;
}
.page_login h5 {
    font-size: 14px;
    font-weight: 600;
}
input[type="submit"]:focus {
    outline: none;
}
.page_login {
    text-align: left;
    padding: 20px;
   
    margin-bottom: 10px;
    border-radius:2px;
}
form {
    margin: 0;
}
.page_login input[type='submit'] {
    width: 80px;
    font-size: 100%;
    padding:8px 5px;
    background: #3fb4c1;
}
input[type=checkbox], input[type=radio] {
    margin: 0 0 0;
    vertical-align: middle;
}

.cntry_select{
    position: relative;
    margin: 0 0 10px 0;
}
.contry_slct{
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
    background: url(../images/arrow.png) no-repeat 97% 50% #3fb4c1;
    cursor: default;
    z-index: 1;
    color: #fff;
    text-align: left;
    text-indent: 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.cntry_select select{
    z-index: 10;
    opacity: 1;
    position: relative;
    width: 100% !important;
    height: 38px !important;
    line-height: 32px;
    margin: 0;
}
.left_sec{
    border-right: 1px solid #ececec;
}

.logo{

    text-align: center !important;
}

.logo_div img {
    margin-bottom: 20px;
}

.login_form {
    width: 50%;
    margin: auto;
}
.login_form .form-group {
    margin-bottom: 0;
}
input#eshipperAuth {
    width: 100%;
    background: #472f92;
}
.sign_up_button {
    background: transparent;
    color: #472f92;
    border: none;
    padding: 0;
    font-size: 16px;
}
.sign_up_button:focus {
    background: transparent;
    color: #472f92;
    border:none;
    outline:none;
}
.sign_up_button:hover {
    background: transparent;
    color: #472f92;
}
@media(max-width:1007px){
.left_sec{
    border-right: 0;
}    
}